<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component Id="cmp1E9E492BCBD975938553BDACA2AC1D02" Guid="D623127E-773B-4209-A4BB-40A325FCE94A">
                <File Id="fil5231573923304056E008DC0BFF10610A" KeyPath="yes" Source="$(var.SourceDir)\CsvHelper.dll" />
            </Component>
            <Component Id="cmp0F711FAE45657A5C851CAF01EFFD723C" Guid="4DF59ACE-B2A9-4846-BA16-C61ADA1AFEA0">
                <File Id="fil65D9AED039138BCB04C6823C4DD9DAA1" KeyPath="yes" Source="$(var.SourceDir)\Equin.ApplicationFramework.BindingListView.dll" />
            </Component>
            <Component Id="cmpAD67AFB6D9910CE6C563812C8DEEE26C" Guid="35150468-BB1D-4CC5-9636-FA0C3529492D">
                <File Id="fil85E2B98D3675ECB615ACD754A9BEAB72" KeyPath="yes" Source="$(var.SourceDir)\ExcelDataReader.DataSet.dll" />
            </Component>
            <Component Id="cmpB7F39D5997B9158B9E540BABB9DF2FF7" Guid="C2110B51-9FB7-4949-93CF-B60B07FEEB93">
                <File Id="fil8919C59A7F49B3BC8E15FF90E58B6713" KeyPath="yes" Source="$(var.SourceDir)\ExcelDataReader.dll" />
            </Component>
            <Component Id="cmp63F5A3931893FBD218ECAF585E530083" Guid="F05DC62B-44ED-46D6-A9F7-8D9474650A95">
                <File Id="filCD80305084B8384BDA813CFC182521E6" KeyPath="yes" Source="$(var.SourceDir)\LiveCharts.dll" />
            </Component>
            <Component Id="cmp91A4BAD276047C199C089438A1EC7ACC" Guid="89882FDB-3790-49DB-A910-B9F629C63007">
                <File Id="fil4BF13ABFDC69E10930F927F19E2B6DE8" KeyPath="yes" Source="$(var.SourceDir)\LiveCharts.WinForms.dll" />
            </Component>
            <Component Id="cmp0CCADA01FB31E1CE2FB487E45D737CA3" Guid="35DB6FE2-3848-4DCE-A033-CAB90809C7D8">
                <File Id="fil1F2395C10EF22F52F7B8534B16898692" KeyPath="yes" Source="$(var.SourceDir)\LiveCharts.Wpf.dll" />
            </Component>
            <Component Id="cmpA3932FB151BC889B955E03FC53868C66" Guid="38E799CD-2D14-4F41-83A6-8474B48184FC">
                <File Id="fil0444EAFA47F8B572DD3EC7BD812FAB1A" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Crm.Sdk.Proxy.dll" />
            </Component>
            <Component Id="cmpE072FE7501C523C71E95779393268C47" Guid="96392C44-7F0B-4B06-92BD-45DC244988F9">
                <File Id="fil93FA7381F27C89F5F702089C8D2D8A28" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.IdentityModel.Clients.ActiveDirectory.dll" />
            </Component>
            <Component Id="cmpE455170C320BF10B546F93F75B48973E" Guid="E6E60081-0735-4594-B205-03B55DD99A5A">
                <File Id="fil430D58AE6C21F9352514C6F623467634" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms.dll" />
            </Component>
            <Component Id="cmp2F9E1D12EEA5FD948BCB58C771AB4EAA" Guid="7F816BC3-1B76-4EE9-8431-54A538E8A2DA">
                <File Id="filA5190E78025297CEB495499671CA5052" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Rest.ClientRuntime.dll" />
            </Component>
            <Component Id="cmpE8D47F0808E96D570F3343AF517E8F78" Guid="624B1317-1983-465A-8FCB-92F53D200F2D">
                <File Id="filF3BEA34E21CFC61F734F0976B86FDBF7" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Xrm.Sdk.Deployment.dll" />
            </Component>
            <Component Id="cmpBE8DFC21936494F8CF4E628D220B38DA" Guid="485F1E35-C05C-48D2-BB49-2B2BB7C36358">
                <File Id="fil98B166A8CF9E82BF097DE104DC7B54F3" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Xrm.Sdk.dll" />
            </Component>
            <Component Id="cmp3E22ACC9DA121C9D87EF4B3BA0D4BB28" Guid="AFD782E3-14E0-4DFF-91CD-98CC8EDFC7DA">
                <File Id="fil89739ACA7C263577CE6D1F05E12B6C40" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Xrm.Tooling.Connector.dll" />
            </Component>
            <Component Id="cmpA7927FF61A499CF81EE0A562CDFEDEC7" Guid="C7946357-1235-4C90-9498-B472419E82FD">
                <File Id="filD7DC5F43B3964ACECD7725F05E664960" KeyPath="yes" Source="$(var.SourceDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp65EA332FDC81700E74D54EA1C77DABA6" Guid="D3E0107D-E2EA-46C3-BC58-0663F8927CF4">
                <File Id="fil38F525572AFB93DE66108D5B8F9D99C2" KeyPath="yes" Source="$(var.SourceDir)\ScottLane.DataTidy.Client.exe" />
            </Component>
            <Component Id="cmpC160CB3FC93860F9D436DA11087298EF" Guid="3C778FC2-1106-42D1-91F3-5D64229F26DB">
                <File Id="fil558E5D61BB8069E57BAE7423098CA1A7" KeyPath="yes" Source="$(var.SourceDir)\ScottLane.DataTidy.Client.exe.config" />
            </Component>
            <Component Id="cmpF37A64723186B108EF13CFFA9292D23A" Guid="CCFA5A37-C83F-47D5-B913-F036E3C9260C">
                <File Id="fil1D87407ED4B5A17F51E37FB6F1715B53" KeyPath="yes" Source="$(var.SourceDir)\ScottLane.DataTidy.Core.dll" />
            </Component>
            <Component Id="cmpC145A902EF55087BAC9D0D25207C8D99" Guid="813AB0F5-6523-47A6-80B0-2C538F61A82E">
                <File Id="fil036327CFE5C97F72FF43B6661E85EF8D" KeyPath="yes" Source="$(var.SourceDir)\ScottLane.DataTidy.Dynamics365.dll" />
            </Component>
            <Component Id="cmpD6E96C3001C95E5BF2A663C6561D1304" Guid="3CA97708-0447-4A76-84F8-370E0BB56AAB">
                <File Id="filBE8D19E7BCB45A29A5E709BA9A702941" KeyPath="yes" Source="$(var.SourceDir)\ScottLane.DataTidy.File.dll" />
            </Component>
            <Component Id="cmpC014E4CAFC25ACAF681385CFF506B5C4" Guid="4B4CE84B-B48C-42BD-8988-1212AA0AD275">
                <File Id="fil1F05FCE4573FB8C9CA7D097179DFED36" KeyPath="yes" Source="$(var.SourceDir)\ScottLane.DataTidy.SqlServer.dll" />
            </Component>
            <Component Id="cmp92E7EFA7568E5FB4288B25C32A0BE68C" Guid="F2DF2A28-DDEB-441D-9135-003192C150A1">
                <File Id="filF060607BC8ACABEBF975391F421E21D4" KeyPath="yes" Source="$(var.SourceDir)\WeifenLuo.WinFormsUI.Docking.dll" />
            </Component>
            <Component Id="cmp2ADB1D525A382CC94572A997CFBB09CB" Guid="ED82AA53-0B42-495D-AAD1-6BD61C2345B9">
                <File Id="fil6D36C23F90A840D9C2AE05AC1C1B693A" KeyPath="yes" Source="$(var.SourceDir)\WeifenLuo.WinFormsUI.Docking.ThemeVS2012Light.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Components">
            <ComponentRef Id="cmp1E9E492BCBD975938553BDACA2AC1D02" />
            <ComponentRef Id="cmp0F711FAE45657A5C851CAF01EFFD723C" />
            <ComponentRef Id="cmpAD67AFB6D9910CE6C563812C8DEEE26C" />
            <ComponentRef Id="cmpB7F39D5997B9158B9E540BABB9DF2FF7" />
            <ComponentRef Id="cmp63F5A3931893FBD218ECAF585E530083" />
            <ComponentRef Id="cmp91A4BAD276047C199C089438A1EC7ACC" />
            <ComponentRef Id="cmp0CCADA01FB31E1CE2FB487E45D737CA3" />
            <ComponentRef Id="cmpA3932FB151BC889B955E03FC53868C66" />
            <ComponentRef Id="cmpE072FE7501C523C71E95779393268C47" />
            <ComponentRef Id="cmpE455170C320BF10B546F93F75B48973E" />
            <ComponentRef Id="cmp2F9E1D12EEA5FD948BCB58C771AB4EAA" />
            <ComponentRef Id="cmpE8D47F0808E96D570F3343AF517E8F78" />
            <ComponentRef Id="cmpBE8DFC21936494F8CF4E628D220B38DA" />
            <ComponentRef Id="cmp3E22ACC9DA121C9D87EF4B3BA0D4BB28" />
            <ComponentRef Id="cmpA7927FF61A499CF81EE0A562CDFEDEC7" />
            <ComponentRef Id="cmp65EA332FDC81700E74D54EA1C77DABA6" />
            <ComponentRef Id="cmpC160CB3FC93860F9D436DA11087298EF" />
            <ComponentRef Id="cmpF37A64723186B108EF13CFFA9292D23A" />
            <ComponentRef Id="cmpC145A902EF55087BAC9D0D25207C8D99" />
            <ComponentRef Id="cmpD6E96C3001C95E5BF2A663C6561D1304" />
            <ComponentRef Id="cmpC014E4CAFC25ACAF681385CFF506B5C4" />
            <ComponentRef Id="cmp92E7EFA7568E5FB4288B25C32A0BE68C" />
            <ComponentRef Id="cmp2ADB1D525A382CC94572A997CFBB09CB" />
        </ComponentGroup>
    </Fragment>
</Wix>